:root {
    --white: #FDFEFB;
    --title-text: #000000;
    --normal-text: #3F3E3A;
    --dark-input: #C7C7C7;
    --light-input: #F7F7F7;
    --primary-cta: #74C589; /* #74C589 */
}

body {
    font-family: 'Quicksand', sans-serif;
}